@page
@model RazorPages.Pages.Cats.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @foreach (var property in Model.ItemList.GetType().GenericTypeArguments[0].GetProperties())
            {
                if (Model.PropertyShowable(property))
                {
                    <th>@Model.GetPropertyName(property)</th>
                }
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ItemList)
        {
            <tr>
                @foreach (var property in Model.ItemList.GetType().GenericTypeArguments[0].GetProperties())
                {
                    if (Model.PropertyShowable(property))
                    {
                        <td>@Model.GetPropertyValue(property, item)</td>
                    }
                }
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
